<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="images/lancheCapa1.jpg" class="d-block w-100" width="500" height="500" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3>Lanches grelhados</h3>
                <p>Lanches grelhados oferecem uma explosão de sabor defumado e textura crocante para os 
                    amantes da comida, combinando uma variedade de ingredientes grelhados em uma 
                    experiência culinária irresistível. É uma opção deliciosa para quem busca um 
                    equilíbrio entre sabor e saúde.
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="images/lancheCapa2.jpg" class="d-block w-100" width="500" height="500" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3>Lanches naturais</h3>
                <p>Lanches naturais são preparados com ingredientes frescos e sem aditivos artificiais, oferecendo uma opção saudável e saborosa para quem valoriza alimentos minimamente processados e ricos em nutrientes.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="images/lancheCapa3.jpg" class="d-block w-100" width="500" height="500" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3>Lanches com acompanhamento</h3>
                <p>Lanches com uma generosa porção de batatas fritas, acompanhadas de molho, proporcionam uma combinação deliciosa de sabores, misturando a
                    crocância das batatas com a indulgência do molho, criando um prazer culinário irresistível.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>